:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

hr {
  border: 1px solid var(--secondary-color);
}

li {
  color: var(--primary-color);
  font-size: 10px;
}
