:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

.searchForm {
  margin: 20px 0;
}

.searchResults {
  text-align: left;
}

.bigTemp span {
  font-size: 50px;
}

.units a {
  font-size: 20px;
  text-decoration: none;
}

.units p {
  font-size: 20px;
}
